main {
    display: flex;
    font-size: 1rem;
}

header#primary {
    font-size: .75rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    /* -webkit-backdrop-filter: blur(3px); */
            /* backdrop-filter: blur(3px); */
}

header#primary > pre {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
    padding-bottom: .75rem;
    padding-left: .5rem;
}

header#primary > span {
    display: flex;
    gap: .5rem;
    margin: 1rem .5rem;
    justify-content: center;
    align-items: center;
}
header#primary > span button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: auto;
    padding: 1rem 2rem;
}
